.stages {
    color: #1b1b1b;
}
/* stages title */
.stages__title {
    margin-bottom: 170px;
}
/* stages wrap */
.stages__wrap {
    position: relative;
}
.stages__info {
    position: relative;
	z-index: 9;
    max-width: 80%;
	margin-right: auto;
	margin-left: auto;
}
.stages__info::before {
	content: "";
	background-color: black;
	position: absolute;
	top: 50%;
	left: 0px;
    z-index: -1;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	height: 4px;
	width: 100%;	
}
.stages__circle {
    position: relative;
    font-family: 'Russo One', sans-serif;
	font-size: 30px;
    color: #fff;
    width: 60px;
	height: 60px;
    background-color: #1b1b1b;
    border-radius: 50%;
}
.stages__circle-01::after,
.stages__circle-03::after,
.stages__circle-05::after {
	font-family: 'Montserrat', sans-serif;
	position: absolute;
	top: 100px;
	font-size: 18px;
	text-align: center;
	width: 250px;
	color: #000;
}
.stages__circle-01::after {
	content: 'Оставляете заявку и мы с вами связываемся';
}
.stages__circle-03::after {
	content: 'Выкупаем автомобиль и передаем его вам';
}
.stages__circle-05::after {
	content: 'Вносите выкупной платеж';
}
.stages__circle-02::before,
.stages__circle-04::before {
	font-family: 'Montserrat', sans-serif;
	position: absolute;
	top: -100px;
	font-size: 18px;
	text-align: center;
	width: 350px;
	color: #000;
}
.stages__circle-02::before {
	content: 'Заключаем договор автотранспортного средства';
}
.stages__circle-04::before {
	content: 'Пользуетесь автотранспортным cредством';
}
.stages__image {
    width: 270px;
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	top: -90%;
}
/* stages button */
.stages__button {
    font-family: "Russo One";
	font-size: 20px;
    border: 2px solid #e34949;
    border-radius: 5px;
    padding: 21px 52px;
    -webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
    margin-top: 115px;
}

/* stmobile */
.stmobile {
	display: none;
}
.stmobile__wrap {}
/* stmobile title */
.stmobile__title {
    margin-bottom: 50px;
}
/* stmobile info */
.stmobile__content {
    max-width: 100%;
    padding: 5px;
    border-radius: 5px;
    background-color: #fff;
}
.stmobile__content:not(:last-child) {
    margin-bottom: 20px;
}
.stmobile__frame {
    max-width: 100%;
    border: 1px solid #dedada;
    border-radius: 5px;
    padding: 20px;
}
.stmobile__step {
    display: block;
    font-family: 'Russo One', sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
}
.stmobile__button {
    border: 2px solid #e34949;
    border-radius: 5px;
    font-family: "Russo One";
    font-size: 18px;
    padding: 10px 30px 10px;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    margin-top: 20px;
}
/* stages and stmobile hover */
.stages__button:hover,
.stmobile__button:hover {
	background: -o-linear-gradient(top, #c16649 0%, #e34949 99%, #e34949 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(#c16649), color-stop(99%, #e34949), to(#e34949));
	background: linear-gradient(to bottom, #c16649 0%, #e34949 99%, #e34949 100%);
	color: #fff;
}

/* stages and stmobile media */
@media (max-width: 992px) {
    .stages__info {
		max-width: 75%;
	}
    .stages__circle {
		font-size: 24px;
		width: 40px;
		height: 40px;
	}
    .stages__image {
		top: -80%;
		width: 170px;
	}
    .stages__circle-01::after,
	.stages__circle-03::after,
	.stages__circle-05::after {
		top: 85px;
		width: 200px;
		font-size: 16px;
	}
    .stages__circle-02::before,
	.stages__circle-04::before {
		top: -85px;
		width: 240px;
		font-size: 16px;
	}
    .stages__button {
		font-size: 18px;
		padding: 13px 30px 13px;
	}
}
@media (max-width: 768px) {
    .stages {
		display: none;
	}
    .stmobile {
		display: block;
		color: #1b1b1b;
	}
}
@media (max-width: 576px) {
    .stmobile__frame {
		padding: 20px 15px;
	}
}